* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  background: linear-gradient(45deg, #1b1c1b, #323232);
}
body .user-box {
  width: 40%;
  height: 100%;
}
body .user-box .search-box {
  width: 400px;
  position: absolute;
  left: 25px;
  top: 20px;
}
body .user-box .search-box .search {
  background-color: rgba(50, 50, 50, 0);
  width: 90%;
  height: 40px;
  border: solid 2px #000000;
  border-radius: 25px;
  padding-left: 50px;
  outline: none;
  color: white;
}
body .user-box .search-box .search::placeholder {
  color: rgba(255, 255, 255, 0.297);
  font-size: 19px;
}
body .user-box .search-box .search:focus {
  border: solid 2px white;
  background-color: rgba(50, 50, 50, 0.6509803922);
}
body .user-box .search-box .search-icon {
  color: white;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-2.5%, -50%);
}
body .main-box {
  width: 2000px;
  height: 2000px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box {
  width: 1000px;
  height: 1000px;
  margin: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(65, 65, 65, 0.5882352941);
  animation: spin-card 40s linear infinite;
  animation-play-state: running;
}
body .main-box .card-box .card1 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(14.4deg);
  background-color: rgb(225, 147, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card1:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card2 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(28.8deg);
  background-color: rgb(215, 142, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card2:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card3 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(43.2deg);
  background-color: rgb(205, 137, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card3:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card4 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(57.6deg);
  background-color: rgb(195, 132, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card4:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card5 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(72deg);
  background-color: rgb(185, 127, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card5:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card6 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(86.4deg);
  background-color: rgb(175, 122, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card6:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card7 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(100.8deg);
  background-color: rgb(165, 117, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card7:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card8 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(115.2deg);
  background-color: rgb(155, 112, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card8:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card9 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(129.6deg);
  background-color: rgb(145, 107, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card9:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card10 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(144deg);
  background-color: rgb(135, 102, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card10:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card11 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(158.4deg);
  background-color: rgb(125, 97, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card11:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card12 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(172.8deg);
  background-color: rgb(115, 92, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card12:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card13 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(187.2deg);
  background-color: rgb(105, 87, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card13:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card14 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(201.6deg);
  background-color: rgb(95, 82, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card14:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card15 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(216deg);
  background-color: rgb(85, 77, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card15:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card16 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(230.4deg);
  background-color: rgb(75, 72, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card16:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card17 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(244.8deg);
  background-color: rgb(65, 67, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card17:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card18 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(259.2deg);
  background-color: rgb(55, 62, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card18:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card19 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(273.6deg);
  background-color: rgb(45, 57, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card19:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card20 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(288deg);
  background-color: rgb(35, 52, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card20:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card21 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(302.4deg);
  background-color: rgb(25, 47, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card21:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card22 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(316.8deg);
  background-color: rgb(15, 42, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card22:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card23 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(331.2deg);
  background-color: rgb(5, 37, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card23:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card24 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(345.6deg);
  background-color: rgb(0, 32, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card24:hover {
  background: white;
  z-index: 99;
}
body .main-box .card-box .card25 {
  list-style: none;
  width: 290px;
  height: 170px;
  position: absolute;
  left: 0;
  transform-origin: 500px;
  transform: rotate(360deg);
  background-color: rgb(0, 27, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-box .card-box .card25:hover {
  background: white;
  z-index: 99;
}
body .main-box .controll-spin {
  animation-play-state: paused;
}
body .main-box .plusSpeed {
  animation-duration: 20s;
}
@keyframes spin-card {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body .main-box .bt-box {
  width: 400px;
  height: 400px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  border-radius: 50%;
  box-sizing: border-box;
}
body .main-box .bt-box .bt-wrapper1 {
  list-style: none;
  height: 100%;
  width: 120px;
  height: 90%;
  position: absolute;
  transform: rotate(-18deg);
  display: flex;
  justify-content: center;
}
body .main-box .bt-box .bt-wrapper1 .bt1 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(18deg);
}
body .main-box .bt-box .bt-wrapper1 .bt1:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper1 .bt2 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(54deg);
}
body .main-box .bt-box .bt-wrapper1 .bt2:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper1 .bt3 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(90deg);
}
body .main-box .bt-box .bt-wrapper1 .bt3:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper1 .bt4 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(126deg);
}
body .main-box .bt-box .bt-wrapper1 .bt4:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper1 .bt5 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(162deg);
}
body .main-box .bt-box .bt-wrapper1 .bt5:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper2 {
  list-style: none;
  height: 100%;
  width: 120px;
  height: 90%;
  position: absolute;
  transform: rotate(-54deg);
  display: flex;
  justify-content: center;
}
body .main-box .bt-box .bt-wrapper2 .bt1 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(18deg);
}
body .main-box .bt-box .bt-wrapper2 .bt1:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper2 .bt2 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(54deg);
}
body .main-box .bt-box .bt-wrapper2 .bt2:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper2 .bt3 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(90deg);
}
body .main-box .bt-box .bt-wrapper2 .bt3:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper2 .bt4 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(126deg);
}
body .main-box .bt-box .bt-wrapper2 .bt4:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper2 .bt5 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(162deg);
}
body .main-box .bt-box .bt-wrapper2 .bt5:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper3 {
  list-style: none;
  height: 100%;
  width: 120px;
  height: 90%;
  position: absolute;
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
}
body .main-box .bt-box .bt-wrapper3 .bt1 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(18deg);
}
body .main-box .bt-box .bt-wrapper3 .bt1:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper3 .bt2 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(54deg);
}
body .main-box .bt-box .bt-wrapper3 .bt2:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper3 .bt3 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(90deg);
}
body .main-box .bt-box .bt-wrapper3 .bt3:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper3 .bt4 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(126deg);
}
body .main-box .bt-box .bt-wrapper3 .bt4:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper3 .bt5 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(162deg);
}
body .main-box .bt-box .bt-wrapper3 .bt5:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper4 {
  list-style: none;
  height: 100%;
  width: 120px;
  height: 90%;
  position: absolute;
  transform: rotate(-126deg);
  display: flex;
  justify-content: center;
}
body .main-box .bt-box .bt-wrapper4 .bt1 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(18deg);
}
body .main-box .bt-box .bt-wrapper4 .bt1:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper4 .bt2 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(54deg);
}
body .main-box .bt-box .bt-wrapper4 .bt2:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper4 .bt3 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(90deg);
}
body .main-box .bt-box .bt-wrapper4 .bt3:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper4 .bt4 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(126deg);
}
body .main-box .bt-box .bt-wrapper4 .bt4:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper4 .bt5 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(162deg);
}
body .main-box .bt-box .bt-wrapper4 .bt5:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper5 {
  list-style: none;
  height: 100%;
  width: 120px;
  height: 90%;
  position: absolute;
  transform: rotate(-162deg);
  display: flex;
  justify-content: center;
}
body .main-box .bt-box .bt-wrapper5 .bt1 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(18deg);
}
body .main-box .bt-box .bt-wrapper5 .bt1:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper5 .bt2 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(54deg);
}
body .main-box .bt-box .bt-wrapper5 .bt2:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper5 .bt3 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(90deg);
}
body .main-box .bt-box .bt-wrapper5 .bt3:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper5 .bt4 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(126deg);
}
body .main-box .bt-box .bt-wrapper5 .bt4:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .bt-box .bt-wrapper5 .bt5 {
  box-sizing: border-box;
  background-color: #515050;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transform: rotate(162deg);
}
body .main-box .bt-box .bt-wrapper5 .bt5:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 15px rgb(60, 74, 94), 0px 0px 25px rgb(44, 69, 112), 0px 0px 40px rgb(33, 39, 49);
  transition-duration: 0.4s;
}
body .main-box .menu-wrapper {
  background-color: #414141;
  color: white;
  width: 8%;
  height: 8%;
  padding: auto 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
body .main-box .menu-wrapper .menu {
  box-sizing: content-box;
  position: absolute;
  left: 32%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
body .main-box .menu-wrapper:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.62), 0px 0px 8px rgba(255, 255, 255, 0.62), 0px 0px 10px rgba(255, 255, 255, 0.62), 0px 0px 22px rgb(76, 106, 158), 0px 0px 30px rgb(66, 89, 129), 0px 0px 50px rgb(59, 76, 106);
  transition-duration: 0.8s;
}

/*# sourceMappingURL=index.css.map */
